@import 'nib/vendor'
@import 'nib/positions'
@import 'nib/overflow'
@import 'nib/gradients'

$component-width ?=       3em
$component-height ?=       3em

.components
  .usable-component
    width $component-width
    height $component-height
    border solid steelblue 1px
