@import 'nib/vendor'
@import 'nib/positions'
@import 'nib/overflow'
@import 'nib/gradients'

.component-editor
  .editor-styles
    .border-radius
      div.radio-wrapper
        display inline-block
        margin-right 1em
