@import 'bootstrap/variables'
.screen-parameters
  padding $padding-large-vertical 0
  >*
    vertical-align middle
    display inline-block
    margin-right 6px
  >:not(:first-child)
    width 10em

.ui-drop-active
  opacity 0.5
